.container {
    margin: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff0000; /* Vermelho */
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff0000; /* Vermelho */
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000; /* Preto */
    border-radius: 5px;
  }
  
  .button {
    background-color: #ff0000; /* Vermelho */
    color: #ffffff; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #cc0000; /* Vermelho mais escuro */
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #000000; /* Preto */
    padding: 8px;
  }
  
  .table th {
    background-color: #ff0000; /* Vermelho */
    color: #ffffff; /* Branco */
    font-weight: bold;
  }
  
  .table td {
    text-align: left;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  